/* desktop */
html{
  scroll-behavior: smooth;
}

.container{
  grid-row-gap:15px;
  display:grid;
  grid-template-rows:200px 400px 300px 200px;
  grid-template-columns:1fr 1fr 1fr; 
  width: 100vw; 
}  

body{
  background-color: pink;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

nav ul{
  list-style-type: none;
}

nav li{
  padding-right:20px;
  display:inline;
}

nav a{
  color: black;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover{
  text-decoration: underline;
}

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  position: relative;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

a:focus{
    top:0px;
    transition:none;
  }

:focus{
    border:2px solid black;
  }

a:active{
  color: blueviolet;
}

footer{
  color: black;
  padding-top: 30px;
  text-align: center;
  grid-column: 1/ span 3;
  grid-row: 5/span 1;
}

.index-head{
  font-size: 50px;
  line-height: 1;
  text-align: center;
  padding: 50px 0;
  grid-row:1/span 1;
  grid-column:2/span 1;
}
.index-head h1{
  grid-row:1/span 1;
  grid-column:2/span 1;  
}

.parallax-image{
  background-attachment: fixed; 
  background-image: url('../images/u_of_m_pillow.jpg');  
  background-position: center;  
  background-repeat: no-repeat; 
  background-size: cover;       
  color: white;
  height: 400px;                
  grid-column:1/span 3;
  grid-row: 2 /span 4;
}

.index-image{
    grid-row:1/span 1;
    grid-column:3;
    justify-self:center;
    margin:0;
}

.words{
  grid-row:3/span 1;
  grid-column:1/span 3;
  padding:5px
}

.words h2{
  text-decoration: underline;
}
.words p{
  padding:10px;
}

.coursework-head{
  font-size: 50px;
  line-height: 1;
  text-align: center;
  padding: 50px 0;
  grid-row:1/span 1;
  grid-column:2/span 1;
}

.coursework-head h1{
  grid-row:1/span 1;
  grid-column:2/span 1;
}

.coursework-image{
  grid-row:2/span 1;
  grid-column:2/ span 1;
  justify-self:center;
  margin:0;
}

.course-words{
  grid-row:3/span 1;
  grid-column:1/span 3;
  padding:5px
}

.course-words h2{
  text-decoration: underline;
}

.experience-head{
  font-size: 50px;
  line-height: 1;
  text-align: center;
  padding: 50px 0;
  grid-row:1/span 1;
  grid-column:2/span 1;
}

.experience-image{
  grid-row:2/span 1;
  grid-column:2/ span 1;
  justify-self:center;
  margin:0;
}

.experience-words{
  grid-row:3/span 1;
  grid-column:1/span 3;
  padding:5px
}

.experience-words h2{
  text-decoration:underline;
}

.contact-head{
  font-size: 50px;
  line-height: 1;
  text-align: center;
  padding: 50px 0;
  grid-row:1/span 1;
  grid-column:2/span 1;
}

.header {
  color: #36A0FF;
  font-size: 27px;
  padding: 10px;
        }

.bigicon {
  font-size: 35px;
  color: #36A0FF;
  padding-left:2%;
  }

  form div{
  display:inline-block;
  width: 80%;
  padding:3%;
  }

  button.btn{             
  display: block;
  margin: 0 auto;
  }
 
  /* .gallery-container {
    grid-row-gap: 15px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
    width: 100vw;
  }
  
  .gallery-head h1{
    font-size: 45px;
    line-height: 1;
    text-align: center;
    padding: 30px 0;
    grid-row:1/span 1;
    grid-column:1;
  } */
        
/* .image1{
  grid-row:2/span 1;
  grid-column:1 span 1;
}

.image1 img{
  width: 350px;
  height:200px;
}

.image2{
  grid-row:2/span 1;
  grid-column:2/span 1;
  filter: grayscale(100%);
}

.image2 img{
  width: 350px;
  height:200px;
}


.image3{
  grid-row:2/span 1;
  grid-column:3/ span 1;
}

.image3 img{
  width: 350px;
  height:200px;
}


.image4{
  grid-row:3/span 1;
  grid-column:1/span 1;
}

.image4 img{
  width: 350px;
  height:200px;
}


.image5{
  grid-row:3/span 1;
  grid-column:2/span 1;
}

.image5 img{
  width: 350px;
  height:200px;
}


.image6{
  grid-row:3/span 1;
  grid-column:3/span 1;
}

.image6 img{
  width: 350px;
  height:200px;
}

.image7{
  grid-row:4/span 1;
  grid-column:1/span 1;
}

.image7 img{
  width: 350px;
  height:200px;
}


.image8{
  grid-row:4/span 1;
  grid-column:2/span 1;
}

.image8 img{
  width: 350px;
  height:200px;
}


.image9{
  grid-row:4/span 1;
  grid-column:3/span 1;
}

.image9 img{
  width: 350px;
  height:200px;
} */

div.at-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.at-item {
  color:red;
  animation-name: angry-animation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 2;
  animation-direction: normal;
}

/* https://angrytools.com/css/animation/ */
@keyframes angry-animation {
  0%{
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  20%{
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40%{
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  50%{
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  60%{
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  80%{
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100%{
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.index-image img{
  width: 175px;
  height:200px;
}

.experience-image img{
  width: 400px;
  height:300px;
}

.coursework-image img{
  width: 700px;
  height:300px;
}

.flip-card {
  background-color: transparent;
  width: 700px;
  height: 300px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color:white;
  color: navy;
  transform: rotateY(180deg);
}


/* https://www.w3schools.com/howto/howto_css_flip_card.asp */


@media all and (min-width:720px){
  .gallery-container {
  grid-template-columns: 1fr 1fr;
}
  .container{
    grid-template-columns:1fr 1fr;
  }
}

@media all and (min-width:1120px){
  .gallery-container {
  grid-template-columns: 1fr 1fr 1fr;
}
.container{
  grid-template-columns:1fr 1fr 1fr;
}

.index-image{
  grid-row:1/span 1;
  grid-column:1;
  justify-self:center;
  margin:0;
}

nav ul{
  list-style-type: none;
}

nav li{
  padding-right:20px;
  display:block;
}

nav a{
  color: black;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover{
  text-decoration: underline;
}

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  position: relative;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

a:focus{
    top:0px;
    transition:none;
  }

:focus{
    border:2px solid black;
  }
} 

